
#exampleModalCenter.modal{
    --bs-modal-width: auto;
    position: fixed;
    left: 5%;
    right: 10%;
    min-width: 100px;
    max-width: 90%;
    
}

/*PARA EXPANDIR PANTALLA OSCURA DEL MODAL */
body.modal-open>div.modal-backdrop.fade.show{
    width: calc(var(--nav-width) + 100%);
}
